

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}


.form-container {
  background-color: rgb(215, 199, 242);
  font-family: poppins;
  border: 2px solid rgb(73, 0, 128);
  border-radius: 20px;
  width: 25rem;
  height: 30rem;
}

.signup-container {
  height: 35rem;
  
}

.input {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  width: 15rem;
}

.form-container button {
  background-color: rgb(46, 1, 81);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  align-self: flex-start;
  width: 7rem;
}

.form-btn{
  display: flex;
  width: 15rem;
  margin-top: 20px;
}

.form-container form {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container form>h1 {
  color: rgb(46, 1, 81);
}

.input input{
  height: 2rem;
  width: 100%;
  border: 1px solid rgb(46, 1, 81);
  border-radius: 5px;
  outline: none;
}

.input input:focus {
  outline: 1px solid rgb(247, 66, 226);
  border: 1px solid rgb(247, 66, 226);
}

.input label{
  color: rgb(46, 1, 81);
}

.signup-btn {
  margin-bottom: 50px;
}


.btn {
  background-color: rgb(114, 61, 219);
  color: white;
  border: 2px solid rgb(97, 5, 163);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: fit-content;
}

.btn:hover {
  background-color: rgb(27, 2, 79);
}

